In [1]:
# Import Dependencies
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
nRowsRead = 1000 # specify 'None' if want to read whole file
df1 = pd.read_csv('Michelin-Starred Restaurants.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'Michelin-Starred Restaurants.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 72 rows and 9 columns

In [3]:
df1.head()

,Unnamed: 0,name,address,city,state,description,star,full_address,postal_code
0,1,Sushi Inoue,381 Lenox Ave,New York,NY,ONE STAR for this Japanese restaurant in Harlem.,1,"381 Lenox Ave, New York, NY 10027",10027
1,2,Dovetail,103 W 77th St,New York,NY,John Fraser's UWS fine dining restaurant has O...,1,"103 W 77th St, New York, NY 10024",10024
2,3,Cafe Boulud,20 E 76th St,New York,NY,Daniel Boulud's beloved Upper East Side restau...,1,"20 E 76th St, New York, NY 10021",10021
3,4,Jean-Georges,1 Central Park West,New York,NY,Jean-Georges Vongerichten's flagship restauran...,2,"1 Central Park West, New York, NY 10023",10023
4,5,Masa,10 Columbus Cir,New York,NY,Masa Takayama's pricey sushi restaurant has TH...,3,"10 Columbus Cir, New York, NY 10019",10019

In [4]:
# Import BeautifulSoup (just in case)
from bs4 import BeautifulSoup as bs

In [5]:
# Import Browser (just in case)
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [6]:
# List out the columns in df1
df1.columns

Index(['Unnamed: 0', 'name', 'address', 'city', 'state', 'description', 'star',
       'full_address', 'postal_code'],
      dtype='object')

In [7]:
# Create Michelin df w/ set to restuarant name
michelin_df = df1.set_index('name')
michelin_df.drop(["Unnamed: 0"], axis=1)
michelin_df.head()

,Unnamed: 0,address,city,state,description,star,full_address,postal_code
name,,,,,,,,
Sushi Inoue,1,381 Lenox Ave,New York,NY,ONE STAR for this Japanese restaurant in Harlem.,1,"381 Lenox Ave, New York, NY 10027",10027
Dovetail,2,103 W 77th St,New York,NY,John Fraser's UWS fine dining restaurant has O...,1,"103 W 77th St, New York, NY 10024",10024
Cafe Boulud,3,20 E 76th St,New York,NY,Daniel Boulud's beloved Upper East Side restau...,1,"20 E 76th St, New York, NY 10021",10021
Jean-Georges,4,1 Central Park West,New York,NY,Jean-Georges Vongerichten's flagship restauran...,2,"1 Central Park West, New York, NY 10023",10023
Masa,5,10 Columbus Cir,New York,NY,Masa Takayama's pricey sushi restaurant has TH...,3,"10 Columbus Cir, New York, NY 10019",10019

In [8]:
michelin_df.columns

Index(['Unnamed: 0', 'address', 'city', 'state', 'description', 'star',
       'full_address', 'postal_code'],
      dtype='object')

In [9]:
# Create a sqlite Database
from sqlalchemy import create_engine
engine = create_engine('sqlite:///restaurants.sqlite', echo=False)

In [10]:
# Convert to sqlite
michelin_df.to_sql('restaurants', con=engine, if_exists="replace")